<!--默认 node-model种  @umijs/core/lib/Html/document.ejs下面,手动创建的话就是这个目录-->
<!--一般用不到-->
<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
</head>
<body>

<div id="<%= context.config.mountElementId || 'root' %>"></div>

</body>
</html>
